<!DOCTYPE html>
<html>
  <head th:replace="template/common::common_header(~{::title},~{::link})">
    <title>用户管理</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
<body class="childrenBody">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <a class="layui-btn createBtn">添加</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal updateBtn">修改</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delBtn">删除</a>
            </div>
        </form>
    </blockquote>
    <table id="userList" lay-filter="userList"></table>

    <th:block th:replace="template/common::common_js(~{::script})">
        <script type="text/javascript" src="/js/admin/sysUser/users.js"></script>
    </th:block>
</body>
</html>
