<!DOCTYPE html>
<html>
  <head th:replace="template/common::common_header(~{::title},~{::link})">
    <title>微信用户管理</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
<body class="childrenBody">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            
        </form>
    </blockquote>
    <table id="userList" lay-filter="userList"></table>

    <th:block th:replace="template/common::common_js(~{::script})">
        <script type="text/javascript" src="/js/admin/user/users.js"></script>
    </th:block>
</body>
</html>
